{% extends 'baseAdmin.html.twig' %}

{% block title %} Création recette {% endblock %}

{% block body %}
    <section class="container">
        <h2 class="h2 text-primary mt-4 mb-4">Ajout d'une nouvelle recette</h2>
        {{ form_start(formView) }}
        <div class="mb-3">
            {{ form_label(formView.title) }}
            {{ form_widget(formView.title) }}
            {{ form_errors(formView.title) }}
        </div>
        <div class="mb-3">
            {{ form_label(formView.ingredients) }}
            {{ form_widget(formView.ingredients) }}
            {{ form_errors(formView.ingredients) }}
        </div>
        <div class="mb-3">
            {{ form_label(formView.instructions) }}
            {{ form_widget(formView.instructions) }}
            {{ form_errors(formView.instructions) }}
        </div>
        <div class="mb-3">
            {{ form_label(formView.image) }}
            {{ form_widget(formView.image) }}
            {{ form_errors(formView.image) }}
        </div>
        <div class="mb-3">
            {{ form_label(formView.category) }}
            {{ form_widget(formView.category) }}
            {{ form_errors(formView.category) }}
        </div>
        <div class="form-check">
            {{ form_label(formView.isPublished) }}
            {{ form_widget(formView.isPublished) }}
            {{ form_errors(formView.isPublished) }}
        </div>

        <div class="mb-3">
            {{ form_widget(formView.enregistrer) }}
        </div>
        {{ form_end(formView) }}
    </section>
{% endblock %}