{% extends 'baseAdmin.html.twig' %}

{% block body %}

    <section class="container">
        <h1 class="h1 text-primary">Recipes</h1>
        <div class="d-flex justify-content-around">
            {% for recipe in recipes %}
                <div class="card" style="width: 20rem;">
                    <img src="{{ asset('assets/uploads/' ~ recipe.image)}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.title }}</h5>
                        <p class="card-text">Instructions : {{ recipe.instructions }}</p>
                        <p class="card-text">Créée le : {{ recipe.createdAt | date('d-m-Y') }}</p>
                        <a href="#" class="btn btn-primary mt-1">Voir la recette</a>
                        <a href="{{ path('admin_update_recipe', {id: recipe.id}) }}" class="btn btn-warning mt-1">Mettre à jour</a>
                        <a href="{{ path('admin_delete_recipe', {id: recipe.id}) }}" class="btn btn-danger mt-1">Supprimer</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <a href="{{ path('admin_create_recipe') }}" class="btn btn-primary mt-2 mb-2">Ajouter une recette</a>

    </section>


{% endblock %}