{% extends 'baseAdmin.html.twig' %}

{% block title %} Mise à jour de "{{ recipe.title}}" {% endblock %}

{% block body %}
    <section class="container">
        <h2 class="h2 text-primary mt-4 mb-4">Modification de "{{ recipe.title }}"</h2>
        {{ form_start(formView) }}
        {{ form_widget(formView) }}
        {{ form_end(formView) }}
    </section>
{% endblock %}